/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.2/dependencies-accessors/gc.properties
/.gradle/7.2/executionHistory/executionHistory.bin
/.gradle/7.2/executionHistory/executionHistory.lock
/.gradle/7.2/fileChanges/last-build.bin
/.gradle/7.2/fileHashes/fileHashes.bin
/.gradle/7.2/fileHashes/fileHashes.lock
/.gradle/7.2/fileHashes/resourceHashesCache.bin
/.gradle/7.2/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums/checksums.lock
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/vcs-1/gc.properties
/exportToHTML/com/me/mseotsanyana/mande/BLL/interactors/session/menu/Impl/cReadMenuItemsInteractorImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/BLL/model/logframe/cComponentModel.java.html
/exportToHTML/com/me/mseotsanyana/mande/BLL/model/logframe/cLogFrameModel.java.html
/exportToHTML/com/me/mseotsanyana/mande/BLL/model/logframe/cQuestionModel.java.html
/exportToHTML/com/me/mseotsanyana/mande/BLL/model/logframe/cRaidModel.java.html
/exportToHTML/com/me/mseotsanyana/mande/BRBAC/BLL/cSessionManager.java.html
/exportToHTML/com/me/mseotsanyana/mande/BRBAC/PL/cSettingsFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/storage/excel/cExcelHelper.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/storage/preference/cSharedPreference.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/ìmpl/firebase/session/cMenuFirebaseRepositoryImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/ìmpl/firebase/session/cOrganizationFirebaseRepositoryImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/ìmpl/firebase/session/cSharedPreferencesFirebaseRepositoryImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/ìmpl/sqlite/logframe/cUploadLogFrameRepositoryImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/DAL/ìmpl/cDatabaseUtils.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/presenters/logframe/Impl/cGetLogFramesPresenterImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/presenters/logframe/iGetLogFramesPresenter.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/ui/adapters/logframe/cTriangleAdapter.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/ui/fragments/logframe/cGetLogFramesFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/ui/fragments/logframe/cLogFrameFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/ui/fragments/session/cHomeFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/ui/fragments/session/cOrganizationFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/ui/fragments/session/cOrganizationsFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/PL/cProjectFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/executor/iExecutor.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/executor/iMainThread.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/interactors/base/cAbstractInteractor.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/interactors/base/iInteractor.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/interactors/Impl/cAddLogFrameInteractorImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/interactors/iAddLogFrameInteractor.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/repository/iLogFrameRepository.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/BLL/repository/iUploadPMRepository.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/DAL/impl/cLogFrameRepositoryImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/DAL/impl/cUploadPMRepositoryImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/PL/presenters/base/cAbstractPresenter.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/PL/presenters/base/iPresenter.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/PL/presenters/Impl/cAddLogFramePresenterImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/PL/presenters/iAddLogFramePresenter.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/PL/ui/iBaseView.java.html
/exportToHTML/com/me/mseotsanyana/mande/PPMER/PL/cMainFragment.java.html
/exportToHTML/com/me/mseotsanyana/mande/STORAGE/excel/cExcelHelper.java.html
/exportToHTML/com/me/mseotsanyana/mande/UTIL/cExpandableListAdapter.java.html
/exportToHTML/com/me/mseotsanyana/mande/cMainThreadImpl.java.html
/exportToHTML/com/me/mseotsanyana/mande/MainActivity.java.html
/exportToHTML/cGetLogFramesFragment.java.html
/exportToHTML/USER_PREFS.xml.html
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/projectFilesBackup/.idea/workspace.xml
/_gitignore
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle
