/build
/app/build
/projectFilesBackup
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle
.idea
*.iml
.gradle
.DS_Store
.idea
/gradle
/local.properties
/build
/captures
/exportToHTML
/projectFilesBackup
/app/build
/app/release
/Libraries

